
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IceCream -Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Admin/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Admin/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Admin/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    @*endinject
        Plugin css for this page
        End plugin css for this page
        inject:css
        endinject
        Layout styles*@
    @*<link rel="stylesheet" href="../../assets/css/style.css">*@
    @*End layout styles*@
    <link rel="shortcut icon" href="~/img/Cream-icon.png" />
</head>
<body>
    <header>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Startmin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a asp-controller="home" asp-action="index"><i class="fa fa-home fa-fw"></i> Website</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> admin <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">

                            <li>
                                <a asp-controller="loginAdmin" asp-action="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li style="padding: 40px 15px;">
                                <a asp-controller="homeadmin" asp-action="homeadmin"><img src="~/img/logocream.png" width="200" height="40" alt=""></a>
                            </li>
                            <li style="padding: 40px 15px; font-size: 18px">
                                <a asp-controller="quanlyuser" asp-action="quanlyuser"><i class="fa fa-dashboard fa-fw"></i> ManagerUser</a>
                            </li>
                            <li style="padding: 40px 15px;">
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> ManagerProduct<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li style="padding: 40px 15px;">
                                        <a asp-controller="quanlybook" asp-action="quanlybook"> ManagerBook </a>
                                    </li>
                                    <li style="padding: 40px 15px;">
                                        <a asp-controller="quanlyrecipe" asp-action="quanlyrecipe">ManagerRecipe</a>
                                    </li>
                                    <li style="padding: 40px 15px;">
                                        <a asp-controller="quanlysmell" asp-action="quanlysmell">ManagerSmell</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li style="padding: 40px 15px;">
                                <a asp-controller="manageinvoice" asp-action="manageinvoice"><i class="fa fa-table fa-fw"></i>ManagerBill Detail</a>
                            </li>

                            <li style="padding: 40px 15px;">
                                <a asp-controller="feedbackfomula" asp-action="feedbackfomula"><i class="fa fa-wrench fa-fw"></i> Feeback Recipe</a>

                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <aside>
    </aside>
    @RenderBody()
    <!-- jQuery -->
    <script src="~/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Admin/js/startmin.js"></script>
    <script src="../js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..~/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="..~/Admin/js/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="..~/Admin/js/raphael.min.js"></script>
    <script src="..~/Admin/js/morris.min.js"></script>
    <script src="..~/Admin/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="..~/Admin/js/startmin.js"></script>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="..~/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..~/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="..~/Admin/js/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="..~/Admin/js/raphael.min.js"></script>
    <script src="..~/Admin/js/morris.min.js"></script>
    <script src="..~/Admin/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="..~/Admin/js/startmin.js"></script>

    <!-- jQuery -->
    <script src="..~/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..~/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="..~/Admin/js/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="..~/Admin/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="..~/Admin/js/dataTables/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="..~/Admin/js/startmin.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
    <script src="..~/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..~/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="..~/Admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="..~/Admin/js/startmin.js"></script>
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>

</body>
</html>
