
@{
    ViewData["Title"] = "SignUpSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="error_area">
    <div class="container">
        <div class="error_inner">
            <div class="error_inner_text">
                <form action="@ViewBag.postUrl" method="post">
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="return" value="@ViewBag.returnUrl" />
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="business" value="@ViewBag.business" />
                    @{ var index = 1;}
                    <br />
                    <br />
                    <h4>Registration!</h4>
                    <h5>Last step in the registration process</h5>
                    <h5>Please select the register package</h5>
                    <select class="check-select" id="check-select">
                        <option value="15"> 15$ / month</option>
                        <option value="150" selected> 150$ / year</option>
                    </select>

                    <input type="hidden" name="item_number_@index" value="1" />
                    <input type="hidden" name="item_name_@index" id="id-check-name" />
                    <input type="hidden" name="amount_@index" id="id-check" />
                    <input type="hidden" name="quantity_@index" value="1" />
                    <script>
                        function check() {
                            document.querySelector('#id-check').value = document.querySelector('#check-select').value;
                            document.querySelector('#id-check-name').value = 'Service package ' + document.querySelector('#check-select').value +'$';
                        }
                    </script>
                    <img src="~/img/paypal.png" width="150" height="50" alt="paypal " />
                    <button type="submit" onclick="check()">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>
