
@{
    ViewData["Title"] = "SignUpSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="error_area">
    <div class="container">
        <div class="error_inner">
            <div class="error_inner_text">
                <br />
                <br />
                <h4>Successful registration!</h4>
                <h5>Congratulations on becoming a member of us</h5>
                <h5>Now you can see special payments, contribute your formulas and more ...</h5>
    
                <a class="pink_btn popup-with-zoom-anim" href="#test-login">Go to Login</a>
            </div>
        </div>
    </div>
</section>
