
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/Profile.css" rel="stylesheet">
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <br /><br />
            <h3>Profile</h3>
            <ul>
                <li><a href="index.html">Homedsdad</a></li>
                <li><a href="shop.html">Profile</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/img/avatar/avatardefault.jpg" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        
                        Change Photo 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Nam Pro player
                    </h5>
                    <h6>
                        Member vip 8++
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>Web Developer and Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/img/cake-feature/arivals-2.jpg" height="100" width="200" alt="Alternate Text" />
                            </div>
                            <div class="col-md-3">
                                <p>Công thức Kem Sôcôla</p>
                            </div>
                            <div class="col-md-3">
                                <button class="custom-btn btn-14">Read More</button>
                            </div>
                        </div>
                        <hr width="100%" align="center" />
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/img/cake-feature/arivals-2.jpg" height="100" width="200" alt="Alternate Text" />
                            </div>
                            <div class="col-md-3">
                                <p>Công thức Kem Sôcôla</p>
                            </div>
                            <div class="col-md-3">
                                <button class="custom-btn btn-14">Read More</button>
                            </div>
                        </div>
                        <hr width="100%" align="center" />
                        
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/img/cake-feature/arivals-2.jpg" height="100" width="200" alt="Alternate Text" />
                            </div>
                            <div class="col-md-3">
                                <p>Công thức Kem Sôcôla</p>
                            </div>
                            <div class="col-md-3">
                                <button class="custom-btn btn-14">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

