@using Microsoft.AspNetCore.Http;
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <br />
            <br />
            <h3>Forgot Password</h3>
            <ul>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
@if (@HttpContextAccessor.HttpContext.Session.GetString("msgforgotpassword") == "s")
{
    <section class="error_area">
        <div class="container" style="width: 500px; height: 500px; padding-top: 200px; text-align: left;">
            <div class="login-form">
                <form method="post" asp-controller="account" asp-action="checkVerification" id="checkCode">
                    <div class="sign-in-htm">
                        <h1 style="text-align: center;color: white;">Confirmation Information</h1>
                        <div class="group">
                            <label for="code" class="label">Verification code*</label>
                            <input id="code" type="number" class="input" name="code" required>
                        </div>
                        <div class="group">
                            <button type="submit" style="margin: 20px auto;" form="checkCode" class="button" name="formCode">Check Verification</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("msgcheckcode") == "f")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: 'Check Fail',
                text: ' Verify the code is incorrect',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
        HttpContextAccessor.HttpContext.Session.Remove("msgcheckcode");
    }
}
else if (@HttpContextAccessor.HttpContext.Session.GetString("msgcheckcode") == "s")
{
    <section class="error_area">
        <div class="container" style="width: 500px; height: 500px; padding-top: 200px; text-align: left;">
            <form method="post" asp-controller="account" asp-action="updatePassword" id="formCode">
                <div class="login-form">
                    <div class="sign-in-htm">
                        <h1 style="text-align: center;color: white;">Update Account Password</h1>
                        <div class="group">
                            <label for="pass" class="label">New Password*</label>
                            <input id="pass" type="password" class="input" name="pass" required>
                        </div>
                        <div class="group">
                            <label for="cfpass" class="label">Confirm New Password*</label>
                            <input id="cfpass" type="password" class="input" name="cfpass" required>
                        </div>
                        <div class="group">
                            <span id='messageCheckcf' style="color: red;"></span>
                            <button type="submit" style="margin: 20px auto;" form="formCode" class="button" name="formCode">Check Account</button>
                        </div>
                        <script>
                            function check() {
                                if (document.getElementById('pass').value ===
                                    document.getElementById('cfpass').value) {
                                    document.getElementById('messageCheckcf').innerHTML = "";
                                } else {
                                    document.getElementById('cfpass').value = "";
                                    document.getElementById('messageCheckcf').innerHTML = "Confirm New Password is not matching!! Try Again";
                                }
                            }
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </section>
}
else
{
    <section class="error_area">
        <div class="container" style="width: 500px; height: 500px; padding-top: 200px; text-align: left;">
            <form method="post" asp-controller="account" asp-action="forgotpassword" id="formCode">
                <div class="login-form">
                    <div class="sign-in-htm">
                        <h1 style="text-align: center;color: white;">Confirmation Information</h1>
                        <div class="group">
                            <label for="username" class="label">Username*</label>
                            <input id="username" type="text" class="input" name="username" required>
                        </div>
                        <div class="group">
                            <label for="email" class="label">Email*</label>
                            <input id="email" type="email" class="input" data-type="email" name="email" required>
                        </div>
                        <div class="group">
                            <button type="submit" style="margin: 20px auto;" form="formCode" class="button" name="formCode">Check Account</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("msgforgotpassword") == "f")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: 'Check Fail',
                text: ' Username and email are not identified correctly',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
        HttpContextAccessor.HttpContext.Session.Remove("msgforgotpassword");
    }
}
<style>
    .login-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

        .login-form .group {
            margin-bottom: 15px;
        }

            .login-form .group .label,
            .login-form .group .input {
                width: 100%;
                color: #fff;
                display: block;
            }

            .login-form .group .input {
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255,255,255,.1);
            }

            .login-form .group .button {
                background: #1161ee;
                width: 50%;
                border: none;
                border-radius: 25px;
                display: block;
            }
</style>
