
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <br />
            <br />
            <h3>About Us</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Our Bakery Area =================-->
<section class="our_bakery_area p_100">
    <div class="container">
        <div class="our_bakery_text">
            <h2>Our Bakery Approach </h2>
            <h6>
                Ask for samples of more than 100 ice cream flavors we have available, including many National Award Winning flavors, then consider the possibilities:
                Scoops, milkshakes, fresh fruit smoothies, homemade hand-dipped ice cream, waffle cones and bowls, water ice...
            </h6>
            <p>We started Van Leeuwen Ice Cream in a yellow truck on the streets of NYC in 2008 with a mission to make good ice cream that makes you feel good.</p>
        </div>
        <div class="row our_bakery_image">
            <div class="col-md-4 col-6">
                <img class="img-fluid" src="img/our-bakery/bakery-1.jpg" alt="">
            </div>
            <div class="col-md-4 col-6">
                <img class="img-fluid" src="img/our-bakery/bakery-2.jpg" alt="">
            </div>
            <div class="col-md-4 col-6">
                <img class="img-fluid" src="img/our-bakery/bakery-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Our Bakery Area =================-->
<!--================Bakery Video Area =================-->
<section class="bakery_video_area">
    <div class="container">
        <div class="video_inner">
            <h3>Real Taste</h3>
            <p>A light, sour wheat dough with roasted walnuts and freshly picked rosemary, thyme, poppy seeds, parsley and sage</p>
            <div class="media">
                <div class="d-flex">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=FZuIch-Eq1s"><i class="flaticon-play-button"></i></a>
                </div>
                <div class="media-body">
                    <h5>Watch intro video <br />about us</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Bakery Video Area =================-->
<!--================Our Mission Area =================-->
<section class="our_mission_area p_100">
    <div class="container">
        <div class="row our_mission_inner">
            <div class="col-lg-3">
                <div class="single_m_title">
                    <h2>Our Mission</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="mission_inner_text">
                    <h6>Nowadays, people can spend so much time on what’s “healthy” they don’t stop to consider what’s healthy. As far as we’re concerned, happiness is healthiness.</h6>
                    <p>
                        What could be happier than that magic combination of milk, cream, eggs, and cane sugar (or coconuts, cashews and oats for our vegan friends)? Yes, our ice cream has fat. And that’s okay. It’s good-good, not good-bad.

                        Good is choice ingredients. Even if we have to go to Mount Etna to get them
                    </p>
                    <ul class="nav">
                        <li><a href="#">Custom cakes</a></li>
                        <li><a href="#">Birthday cakes</a></li>
                        <li><a href="#">Wedding cakes</a></li>
                        <li><a href="#">European delicacies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Our Mission Area =================-->
<!--================Client Says Area =================-->
<section class="client_says_area p_100">
    <div class="container">
        <div class="client_says_inner">
            <div class="c_says_title">
                <h2>What Our Client Says</h2>
            </div>
            <div class="client_says_slider owl-carousel">
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Good is simple ingredients. If it’s tough to pronounce, it’s probably tough to digest.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                            <h5>- Jack Sp</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Client Says Area =================-->
<!--================End Client Says Area =================-->
<section class="our_chef_area p_100">
    <div class="container">
        <div class="row our_chef_inner">
            <div class="col-lg-3">
                <div class="chef_text_item">
                    <div class="main_title">
                        <h2>
                            Our Founder
                        </h2>
                        <p>They are four people from the land of billionaires, with passion and creativity, they decided to build 1 community for their own.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/Fouder/Fouder3.png" alt="">
                    </div>
                    <a href="#"><h4>Bill Gates</h4></a>
                    <h5>The largest individual in IceCream</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/Fouder/Fouder.png" alt="">
                    </div>
                    <a href="#"><h4>Mark Zuckerberg </h4></a>
                    <h5>Chairman and CEO</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/Fouder/Fouder1.jpg" alt="">
                    </div>
                    <a href="#"><h4>Jeff Bezos</h4></a>
                    <h5>Founder, Operating IceCream E-Commerce Company</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Client Says Area =================-->
<!--================Newsletter Area =================-->

<!--================End Newsletter Area =================-->
